</main>
<!-- Footer -->
<footer class="footer font-small pt-4 bg-primary" style="padding-bottom: 0; margin-bottom: 0; margin-top: 0; padding-top: 0;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
          <a href="https://www.daltonlearninglab.com/" target="_blank" style="text-decoration: none;">
            <p class="text-light">Dalton Learning Lab</p>
          </a>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
          <p>
            <a style="color: #fff; text-decoration: none;" href="https://www.roblox.com/groups/7030910/Dalton-Learning-Lab#!/about" target="_blank">Roblox Games</a>
          </p>
          <p>
            <a style="color: #fff; text-decoration: none;" href="https://www.mightybeetle.com/" target="_blank">Mighty Beetles</a>
          </p>

        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-2"></i>Unit 301, 3/F, Core A, Cyberport 3, 100 Cyberport Road, Hong Kong</p>
          <p>
            <i class="fas fa-envelope mr-2"></i>admin@virtualschoolmaker.com</p>
        </div>
        <!-- Grid column -->

  
      </div>
      <!-- Footer links -->
  
    <hr class="w-100 clearfix d-md-none">
  
    <!-- Grid column -->
    <div class="col-xl-12 mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">Follow Us&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="color: #fff; text-decoration: none;font-size: 2rem;" href="https://www.facebook.com/virtualschoolmaker" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;</a>
        <a style="color: #fff; text-decoration: none;font-size: 2rem;" href="#" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;</a>
        <a style="color: #fff; text-decoration: none;font-size: 2rem;" href="#" target="_blank"><i class="fa fa-snapchat-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;</a>
        <a style="color: #fff; text-decoration: none;font-size: 2rem;" href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </h6>
    </div>

    <hr>
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  
          <!--Copyright-->
          <p class="text-center text-md-left">&copy;2020 Designed by Dalton Learning Lab. All Rights Reserved.
            <a href="#">
              <strong> by Dalton Learning Lab. All Rights Reserved.</strong>
            </a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha512-GDey37RZAxFkpFeJorEUwNoIbkTwsyC736KNSYucu1WJWFK9qTdzYub8ATxktr6Dwke7nbFaioypzbDOQykoRg==" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/3c82f064fb.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/intro.js"></script>
</body>
</html>