<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" style="width:15%; min-width: 100px;" href="/"><img class="img-fluid" src="vsm-logo.png" alt=""></a>
    <button class="navbar-toggler ml-auto mt-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li <% if (page_name === 'home') {%> class="nav-item active"<%}%> class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li <% if (page_name === 'testamonials') { %> class="nav-item active" <%}%> class="nav-item">
        <a class="nav-link" href="/testamonials">Testimonials</a>
        </li>
        <li <% if (page_name === 'games') {%> class="nav-item active" <%}%> class="nav-item">
        <a class="nav-link" href="/games">Games</a>
        </li>
        <li class="nav-item">
            <% if (!currentUser) { %>
                <a href="/login" class="nav-link">Sign In</a>
            <% } else { %>
                <a href="/dashboard" class="nav-link">Create</a>               
            <% } %>
        </li>
        <li class="nav-item">
            <% if (!currentUser) { %>
                <a href="/register" class="nav-link">Sign Up</a>
            <% } else { %>
                <a href="/logout" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout&nbsp;&nbsp;</a>           
            <% } %>
        </li>
    </ul>
    </div>
</nav>
<main>