<%- include("../partials/header") %>
<%- include("../partials/vsmHeader") %>

<div class="container">
    <div class="row">
        <h1 class="text-center create_div" style="width:40%; margin: auto;">Create a new class</h1>
    </div>
    <div class="row">
        <div class="create_div" style="width:40%; margin: 25px auto;" data-step="1" data-intro="Create a class here and submit!" data-position="left">
            <form action="/courses" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Class Name (required)" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="classID" placeholder="Class ID (required)" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="teacher" value="<%= currentUser.username %>" placeholder="Teacher's Name (required)" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="tutor" placeholder="Tutor's Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="subject" placeholder="Subject">
                </div>
                <div class="form-group">
                    <textarea rows=5 class="form-control" type="text" name="description">Description</textarea>
                </div>
                <div class="form-group">
                    <a href="/courses" class="btn btn-lg btn-secondary" style="width:48%">Cancel</a>
                    <button class="btn btn-lg btn-primary ml-1" style="width:49%;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>
<script type="text/javascript">
    if (RegExp('multipage', 'gi').test(window.location.search)) {
        introJs().setOption("showStepNumbers",false).start()
}
</script>