*{
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}
/*------------*/
body {
    padding-top: 5rem;
    overflow-x: hidden;
}

.cardIndex {
    /* transition: transform .3s ease-in 2s !important;   */
    width: 45%;
    border: 0.5rem solid #fff;
}

.cardIndex:hover {
    box-shadow: 0 1rem 2rem rgba(black, .15);
    transform: translateY(-3px);
}

.flex-fill {
    min-height:80vh;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}


.quickstart {
    background-image: linear-gradient(to left, rgb(19, 167, 19), rgb(6, 141, 6));
    color:#fff;
}

.btn__trans {
    color:#fff;
    padding: 3px;    
    transition: all .2s;  
}

.btn__trans:hover {
    box-shadow: 0 1rem 2rem rgba(black, .15);
    color: rgb(19, 167, 19);
    transform: translateY(-2px);
}

.btn__trans:active {
    transform: translateY(0);
}

.btn__tour {
    padding: 3px;    
    transition: all .2s;  
}

.btn__tour:hover {
    box-shadow: 0 1rem 2rem rgba(black, .15);
    transform: translateY(-2px);
}

.btn__tour:active {
    transform: translateY(0);
}
/* bar chart ***************************************************** */
rect.bar-rect { fill: green; }
    rect.bar-rect:hover { 
      fill:rgb(6, 153, 6);
      transition: all .2s;
    }
/* bar chart ***************************************************** */
.footer {
    color: #fff;
    margin: 20px auto;
}

#del {
    display: inline;
}

#map {
    height: 20rem;
}

.modal{
    z-index:1000000;
}
/* introjs ***************************************************** */
.introjs-fixParent.modal{
    z-index:10000000 !important;
}

/* .introjs-fixParent.navbar{
    z-index:10000000 !important;
} */

.introjs-helperNumberLayer {
    z-index: 9999999999 !important;
}

.introjs-hint-pulse {
    background-color: rgba(249, 219, 4, .5) !important;
    border: 5px solid rgba(243, 247, 5, .90) !important;
}
/* introjs ***************************************************** */
#first_jumbotron {
    margin: 0;
    text-align: center; 
    background-color: white; 
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-position: center; 
}

@media(max-width:800px){
  .btn__trans {
    font-size: .5rem;
  }
    #signinbox {
        width: 80% !important;
    }

    #heading-jumbotron{
        margin-top: 2% !important;
    }

    #heading-class {
      display: flex; 
      flex-direction: column;
    }

    #order1 {
      order: 1;
      }
      #order2 {
        order: 2;
        margin-top: 1rem;
      }
      #order3 {
        order: 3;
        margin-top: 1rem;
      }

    #info-card {
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #info-card img {
        margin-left: auto;
        margin-right: auto;
    }

    #info-image {
        margin-left: 10% !important;
    }

    #navbar_stuff {
        margin-left: 0 !important;
        text-align: left !important;
    }

    #navbar_thing {
        padding-left: 0 !important;
    }

    #create_div{
        width: 80% !important;
    }
    #scroll_button {
        display: none;
      }
      #down_arrow{
        display: none;
      }
    
      #testa_text {
        font-size: 5vw;
      }
      #first_jumbotron h1{font-size: 3vw;
        margin-top: 10%;
      }
      #first_jumbotron {
        margin-top: -5% !important;
      }
    
      #wrapper{
        display: none;
      }
      #info.png{
        width: 80% !important;
      }
      .hidden_img{
        display: block;
      }
      .shown_img{
        display: none;
      }
    
      .carousel-control-prev {
        display: none;
      }
      .carousel-control-next {
        display: none;
      }
      #games_jumbotron {
        background-size: auto 100% !important;
        background-position: center;
      }
    
      #lethal_jumbotron{
        background-size: auto 100% !important;
        background-position: center;
      }
    
      #info_png {
        width: 80% !important;
      }
    
      #info_image {
        width: 100%;
        height: 60%;
      }
      #info_box {
        width: 100%;
        border: none;
        height: 25%;
      }
    
      #info_box h1 {
        font-size: 3vw !important;
      }
      #info_row {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
      }
      #info_title{
        font-size: 5vw;
      }
    
      #info_h3{
        font-size: 3vw;
      }
      #testa_container {
        padding: 0;
        margin-left: 10%;
      }
      
      #testa_container_right {
        margin-right: 10% !important;
      }
      
      #info_box{
        box-shadow: 3px 3px grey;
      }
      
      #end_button:hover{
        background-color: white;
        color: grey;
      }
      
      #end_button {
        color: white;
      }
      
      .spot {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
          
      #svg-wrapper {
        margin-top: 0;
        position: relative;
        width: 150px;
        height: 40px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 5px
      }
      
      #shape {
        stroke-width: 6px;
        fill: transparent;
        stroke: #009FFD;
        stroke-dasharray: 85 400;
        stroke-dashoffset: -220;
        transition: 1s all ease;
      }
      
      #text {
        margin-top: -35px;
        text-align: center;
      }
      
      #text a {
        color: white;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.1em;
      }
      
      .svg-wrapper:hover #shape {
        stroke-dasharray: 50 0;
        stroke-width: 3px;
        stroke-dashoffset: 0;
        stroke: #06D6A0;
      }
}
@media(min-width:800px){
    #first_jumbotron{
      background-attachment: fixed;
    }
    #games_button{
      margin-bottom: 10%;
    }
    #games_jumbotron{
      background-size: 100% 100% !important;
      margin-bottom: 0;
    }
  
    #info_png {
      width: 50% !important;
    }
    #info_image{
      width: 100%;
      height: 52%;
    }
    #info_box {
      height: 20% !important;
    }
  }


#end_button{
  color: white;
}
#end_button:hover{
  background-color: white;
  color: grey !important;
}