<%- include("../partials/header") %>
<%- include("../partials/landingPageHeader") %>
<div class="main">
    <!-- Intro Section -->
    <div class="container-flex">
        <div class="jumbotron jumbotron-fluid mb-0" id="games_jumbotron" style="background-image: url(https://i.imgur.com/pNMVGcl.png); background-size: 100%;"> 
            <h1 class="display-4 font-weight-bold text-light text-center">Our Games</h1>
            <h3 class="display-6 font-weight-bold text-light text-center mt-5 mb-5">Learn more about the many educational games we provide</h3>
            <h3 class="display-6 font-weight-bold text-light text-center mt-5" style="margin-bottom: 10%;">More interactive education with twice the fun</h3>
        </div>
    </div>
    <!-- Info Section -->
    <div class="container-flex">
        <div class="jumbotron jumbotron-fluid mb-0" id="lethal_jumbotron" style="background-image: url(https://progameguides.com/wp-content/uploads/2020/05/featured-roblox-game-codes.jpg); background-size: 100% 100%;">
            <h1 class="text-center display-4 text-light font-weight-bold">Over X Games For Your Enjoyment</h1>
            <h3 class="display-5 font-weight-bold text-light ml-5 mt-5"> <i class="fas fa-chalkboard-teacher"></i> Learning a wide variety of topics through <br> fun interactive activities</h3>
            <h3 class="display-5 font-weight-bold text-light mt-5 text-right mr-5"> <i class="fas fa-cogs"></i> Customize and monitor the experience</h3>
        </div>
    </div>
    <!-- If you want to update the site with more games just copy-paste the one of the following sections and replace the image and text -->
    <!-- Lethal Choice -->
    <div class="container-flex" style="background-color: #5e6cbc;">
        <!-- Background image url goes inside here -->
        <div class="jumbotron jumbotron-fluid mb-0" id="lethal_jumbotron" data-aos="fade-up" style="background-image: url(https://i.imgur.com/uTVpzY6.png); background-size: 100%;background-position: center;" >
            <div class="container pt-5" data-aos="fade-right">
                <!-- Text can be changed but formatting is the same. -->
                <h1 class="display-4 font-weight-bold text-light mt-5">Quiz Trivia</h1>
            </div>
            <div class="container pt-5" data-aos="fade-left">
                <h3 class="display-5 font-weight-bold text-light mt-5 text-right">Customize trivia questions for your students</h3>
                <h3 class="display-5 font-weight-bold text-right text-light">Choosing the wrong option could be dangerous</h3>
            </div>
            <div class="container pt-5" data-aos="zoom-in">
                <h3 class="display-5 font-weight-bold text-light mt-5">Now with score tracking and answer saving for your assessment</h3>
            </div>
        </div>
    </div>

    <!-- Minigame Paradise -->
    <div class="container-flex" style="background-color: #5e6cbc;">
        <div class="jumbotron jumbotron-fluid mb-0" id="lethal_jumbotron" data-aos="fade-up" style="background-image: url(https://i.imgur.com/FRG14JU.png); background-size: 100%; background-position: center;">
            <div class="container pt-5" data-aos="fade-left">
                <h1 class="display-4 font-weight-bold text-right text-light mt-5">Minigame Paradise</h1>
            </div>
            <div class="container pt-5" data-aos="fade-right">
                <h3 class="display-5 font-weight-bold text-light mt-5">From cake grab to dangerous obstacle courses</h3>
                <h3 class="display-5 font-weight-bold text-light">Play randomly selected multiplayer minigames</h3>
            </div>
            <div class="container pt-5" data-aos="zoom-in">
                <h3 class="display-5 font-weight-bold text-light text-right mt-5">All while learning about important topics like climate change</h3>
            </div>
        </div>
    </div>

    <!-- Physics Playground -->
    <div class="container-flex" style="background-color: #5e6cbc;">
        <div class="jumbotron jumbotron-fluid mb-0" id="lethal_jumbotron" data-aos="fade-up" style="background-image: url(https://i.imgur.com/tyXRHei.png); background-size: 100%; background-position: center;">
            <div class="container pt-5" data-aos="fade-right">
                <h1 class="display-4 font-weight-bold text-light mt-5">Physics Playground</h1>
            </div>
            <div class="container pt-5" data-aos="fade-left">
                <h3 class="display-5 font-weight-bold text-light text-right mt-5">Battle for points amongst 4 teams using your creativity</h3>
                <h3 class="display-5 font-weight-bold text-light text-right">Create objects and use physics to attack your opponents!</h3>
            </div>
            <div class="container pt-5" data-aos="zoom-in">
                <h3 class="display-5 font-weight-bold text-light mt-5">The team with the most points at the end of the time will be the winners!</h3>
            </div>
        </div>
    </div>

    <!-- Section to provide users with a link to the signup page -->
    <div class="container-flex">
        <div class="jumbotron jumbotron-fluid" id="lethal_jumbotron" style="background-image: url(https://wallpaperaccess.com/full/196855.jpg); background-size: 100%;">
            <h1 class="display-4 text-center text-light font-weight-bold pt-5">Start Playing Today!</h1>
            <!-- This is the special animated button linking to the signup page -->
            <div class="container text-center" id="games_button">
                <button class="btn_special" style="margin-top: 5%;">
                    <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                      <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                      <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                    </svg>
                    <span>
                        <% if (!currentUser) { %>
                            <a href="/register" style="text-decoration: none; color: #fff; font-weight: 400;">PLAY NOW!</a>
                        <% } else { %>
                            <a href="/dashboard" style="text-decoration: none; color: #fff; font-weight: 400;">PLAY NOW!</a>               
                        <% } %>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- Coming Soon section -->
    <!-- If more games are to be added to the coming soon section copy paste the div with col-sm in the name -->
    <div class="container-flex">
        <div class="jumbotron jumbotron-fluid mb-0" style="background-color:  white;">
            <h1 class="display-4 text-center font-weight-bold mt-5">Games Coming Soon:</h1>
            <div class="row pl-5 pr-5" id="info_row">
                <!-- Start of column template -->
                <!-- Copy and paste inside the "row" div to add more sections -->
                <div class="mt-5 ml-5 col-sm mr-5 text-center">
                    <!-- The image here can be changed just update the link in "src" -->
                    <img class="pl-0 pr-0 ml-0 mr-0" src="https://i.imgur.com/ai3p6mG.png" width="100%" alt="">
                    <h1 class="text-center font-weight-bold text-black mt-3" id="info_title">Quiz Obby</h1>
                    <p class="text-center pt-3 font-italic" >Choose the correct option to move forward <br>first to finish wins!</p>
                </div>
                <!-- End of column template -->
                <div class="mt-5 ml-5 mr-5 text-center col-sm">
                    <img src="https://i.imgur.com/g47DaC9.png" width="100%" alt="" class="pl-0 pr-0 ml-0 mr-0">
                    <h1 class="text-center font-weight-bold mt-3" id="info_title">Lobby</h1>
                    <p class="text-center pt-3 font-italic" >A space for you and your classmates to relax.<br>A sandbox where you can do anything you want </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>
<style>
.btn_special {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn_special:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn_special:hover svg {
  stroke-dashoffset: -480;
}

.btn_special span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
</style> 


<script type="text/javascript">
AOS.init()
$(document).ready(function(){
   $(window).scrollTop(0);
});
</script>
